$text_color1:#141414;
$text_color2:#666666;
$material_color:#AEAEAE;
$header_size:15rem;

@mixin Title_font{
  font-family: "Raleway",'Noto Sans JP';
  font-size: 8rem
}
@mixin subTitle_font{
  font-family: "Raleway",'Noto Sans JP';
  font-size: 6rem;
}
@mixin Text_font{
  font-family: "Raleway",'Noto Sans JP';
  font-size: 4rem;
}
@mixin subText_font{
  font-family: "Raleway",'Noto Sans JP';
  font-size: 3rem;
}
@mixin full_size{
  height: 100%;
  width: 100%;
}
@mixin full_screen{
  height: 100vh;
  width: 100vw;
}
@mixin middle{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin custom_size{
  width: 68vw;
  height: 72vh;
}
@mixin text_center{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

$breakpoint-sm: 400px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 1000px !default;

$breakpoints: (
  'sm': 'screen and (max-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
